// base color
$primaryColor: #507c25;
$bodyBg: #eef0f1;


$red: #c8413e;

$bodyBgDark: #1e1e1e;
$bgColorDark: #252627;
$elementBgDark: #2b2b2b;


// navigationBar - light
$navHover: #e3e3e5;
$navText: #303133;


// navigationBar - dark



// :export {
//     primaryColor: $primaryColor;
// }